In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("train.csv")

In [48]:
df.head()

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,0.000000,0.000000,2015-08-23,False,False,False,False,False,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310204,-99.227654,2013-06-28,False,False,False,True,True,3600000.0
2,247984,casa en venta urbi 3 recamaras tonala,descripcion \nla mejor ubicacion residencial e...,Casa,Urbi Tonala,Tonalá,Jalisco,5.0,3.0,2.0,...,48551.0,0.000000,0.000000,2015-10-17,False,False,False,False,False,1200000.0
3,209067,casa sola en toluca zinacantepec con credito i...,casa en privada con caseta de vigilancia casas...,Casa,IGNACIO MANUEL ALTAMIRANO 128,Zinacantepec,Edo. de México,1.0,2.0,1.0,...,53666.0,19.301889,-99.688019,2012-03-09,False,False,False,True,True,650000.0
4,185997,paseos del sol,bonito departamento en excelentes condiciones ...,Apartamento,PASEOS DEL SOL,Zapopan,Jalisco,10.0,2.0,1.0,...,47835.0,0.000000,0.000000,2016-06-07,False,False,False,False,False,1150000.0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
id                            240000 non-null int64
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null object
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
precio                        240000 non-null float64
dtypes: float64(15), int64(1), object(7)
memory usage: 42.1+ MB

In [25]:
df['escuelascercanas'].value_counts()

0.0    133406
1.0    106594
Name: escuelascercanas, dtype: int64

In [26]:
df['piscina'].value_counts()

0.0    219028
1.0     20972
Name: piscina, dtype: int64

In [27]:
df['centroscomercialescercanos'].value_counts()

0.0    144832
1.0     95168
Name: centroscomercialescercanos, dtype: int64

In [28]:
df['gimnasio'].value_counts()

0.0    225006
1.0     14994
Name: gimnasio, dtype: int64

In [29]:
df['usosmultiples'].value_counts()

0.0    226778
1.0     13222
Name: usosmultiples, dtype: int64

In [30]:
df['precio'].value_counts()

1500000.0     3041
2500000.0     3036
1200000.0     2909
3500000.0     2726
1300000.0     2480
2200000.0     2420
1100000.0     2394
1800000.0     2290
1600000.0     2217
850000.0      2192
750000.0      2163
1250000.0     2159
2300000.0     2108
1350000.0     2103
650000.0      2061
3200000.0     2054
4500000.0     2040
2000000.0     1904
950000.0      1867
1650000.0     1865
2800000.0     1863
1400000.0     1850
550000.0      1820
2100000.0     1802
3000000.0     1791
1700000.0     1763
1850000.0     1760
2600000.0     1735
1150000.0     1722
1750000.0     1702
              ...
10807000.0       1
468778.0         1
675411.0         1
468768.0         1
7500250.0        1
10815000.0       1
3752490.0        1
469105.0         1
338144.0         1
1352990.0        1
938630.0         1
10822700.0       1
2705670.0        1
1877000.0        1
407500.0         1
1352610.0        1
676300.0         1
2705184.0        1
938426.0         1
1876500.0        1
1352560.0        1
469208.0         1
1352520.0        1
469200.0         1
5410000.0        1
2704600.0        1
1352250.0        1
938260.0         1
2704460.0        1
2327000.0        1
Name: precio, Length: 15520, dtype: int64

In [31]:
#NUMERICOS ENTEROS QUE ERAN INNECESARIAMENTE FLOAT
#------------------------------------------------#

#NUMERICOS QUE SOLO SON CERO O UNO
df['usosmultiples'] = df['usosmultiples'].astype('bool')
df['piscina'] = df['piscina'].astype('bool')
df['gimnasio'] = df['gimnasio'].astype('bool')
df['escuelascercanas'] = df['escuelascercanas'].astype('bool')
df['centroscomercialescercanos'] = df['centroscomercialescercanos'].astype('bool')


#FECHA DE PUBLICACION A DATETIME
df['fecha'] = pd.to_datetime(df['fecha'])


# A estos hay que limpiarles los inf y los NaN antes de convertir a int

#df['antiguedad'] = df.antiguedad.astype('int64')
#df['garages'] = df.garages.astype('int64')
#df['habitaciones'] = df.habitaciones.astype('int64')
#df['metrostotales'] = df.metrostotales.astype('int64')
#df['metroscubiertos'] = df.metroscubiertos.astype('int64')
#df['idzona'] = df.idzona.astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 23 columns):
id                            240000 non-null int64
titulo                        234613 non-null object
descripcion                   238381 non-null object
tipodepropiedad               239954 non-null object
direccion                     186928 non-null object
ciudad                        239628 non-null object
provincia                     239845 non-null object
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
idzona                        211379 non-null float64
lat                           116512 non-null float64
lng                           116512 non-null float64
fecha                         240000 non-null datetime64[ns]
gimnasio                      240000 non-null bool
usosmultiples                 240000 non-null bool
piscina                       240000 non-null bool
escuelascercanas              240000 non-null bool
centroscomercialescercanos    240000 non-null bool
precio                        240000 non-null float64
dtypes: bool(5), datetime64[ns](1), float64(10), int64(1), object(6)
memory usage: 34.1+ MB

In [32]:
# A estos hay que limpiarles los inf y los NaN antes de convertir a int

#df['antiguedad'] = df.antiguedad.astype('int64')
#df['garages'] = df.garages.astype('int64')
#df['habitaciones'] = df.habitaciones.astype('int64')
#df['metrostotales'] = df.metrostotales.astype('int64')
#df['metroscubiertos'] = df.metroscubiertos.astype('int64')
#df['idzona'] = df.idzona.astype('int64')

In [33]:
df['antiguedad'].value_counts()

0.0     50335
5.0     33268
10.0    28844
20.0    19904
1.0     12353
4.0      7944
3.0      5616
2.0      5059
15.0     3965
6.0      3169
30.0     3055
8.0      2418
25.0     2297
7.0      2046
12.0     1492
11.0     1434
40.0     1347
50.0     1193
9.0      1065
35.0      938
18.0      908
21.0      742
16.0      700
14.0      616
13.0      577
17.0      529
22.0      448
28.0      396
26.0      369
45.0      329
        ...
47.0       40
55.0       38
48.0       36
46.0       31
70.0       29
41.0       27
80.0       27
53.0       17
49.0       17
65.0       17
52.0       11
58.0       10
54.0        9
75.0        6
66.0        5
59.0        5
69.0        5
67.0        4
57.0        4
63.0        4
62.0        3
56.0        3
74.0        2
68.0        2
79.0        2
61.0        2
76.0        2
71.0        1
77.0        1
64.0        1
Name: antiguedad, Length: 78, dtype: int64

In [34]:
len(df)

240000

In [35]:
#Vemos cuántos NaN hay por columna, sabiendo que el total es 240000
df.isnull().sum()

id                                 0
titulo                          5387
descripcion                     1619
tipodepropiedad                   46
direccion                      53072
ciudad                           372
provincia                        155
antiguedad                     43555
habitaciones                   22471
garages                        37765
banos                          26221
metroscubiertos                17400
metrostotales                  51467
idzona                         28621
lat                           123488
lng                           123488
fecha                              0
gimnasio                           0
usosmultiples                      0
piscina                            0
escuelascercanas                   0
centroscomercialescercanos         0
precio                             0
dtype: int64

In [36]:
#Reemplazo los NaN por 0
df.loc[(df['lat']).isnull(),['lat']]=0
df.loc[(df['lng']).isnull(),['lng']]=0

In [37]:
df['lat'].isnull().sum()

0

In [38]:
df['lng'].isnull().sum()

0

In [39]:
df['lat'].value_counts()

0.000000     123936
23.063781         8
23.054936         7
19.314000         6
19.392000         6
19.391000         6
19.617000         6
19.393000         6
19.358000         6
19.489000         6
23.053672         6
19.558000         6
19.457000         6
19.410000         6
32.454473         5
23.068835         5
19.300000         5
19.332000         5
19.503000         5
19.369000         5
19.485000         5
19.388000         5
19.344000         5
19.350000         5
19.387000         5
19.437000         5
19.397000         5
19.478000         5
19.444000         5
19.494000         5
              ...
17.094446         1
20.997915         1
19.591669         1
19.417518         1
19.727337         1
19.476194         1
19.359454         1
19.287115         1
18.987497         1
19.495689         1
20.662757         1
19.492759         1
20.743466         1
21.160287         1
19.433077         1
19.359921         1
19.361805         1
20.642669         1
24.009796         1
32.485229         1
32.445024         1
20.658414         1
23.284804         1
22.645698         1
21.025559         1
25.675224         1
18.151347         1
18.779346         1
21.963000         1
19.505390         1
Name: lat, Length: 112147, dtype: int64

In [40]:
df['lng'].value_counts()

 0.000000      123937
-99.225000         12
-99.218984          9
-99.139000          8
-99.213000          8
-99.230000          8
-99.143540          7
-99.156000          7
-99.125000          7
-99.191000          7
-99.227000          7
-99.177446          7
-99.234000          7
-99.200000          7
-99.144000          7
-99.183676          7
-99.163000          7
-99.175000          6
-99.171909          6
-99.055727          6
-99.153000          6
-99.195000          6
-99.202366          6
-99.133163          6
-99.170000          6
-99.258000          6
-99.226000          6
-99.165000          6
-99.211000          6
-99.161000          6
                ...
-100.976336         1
-103.439241         1
-103.464754         1
-96.191890          1
-99.303276          1
-116.761322         1
-106.117890         1
-99.007759          1
-98.941038          1
-100.369562         1
-102.311859         1
-99.156190          1
-99.136433          1
-100.102952         1
-100.428454         1
-103.461922         1
-99.285294          1
-100.240945         1
-98.213833          1
-99.191613          1
-99.185678          1
-101.557630         1
-103.387854         1
-100.316000         1
-102.308277         1
-103.449196         1
-100.443135         1
-106.103384         1
-99.168257          1
-99.131383          1
Name: lng, Length: 112326, dtype: int64

In [46]:
#Ahora cambio el tipo de dato de las columnas 'lat' y 'lng'
df['lat'] = df['lat'].astype(np.float32)
df['lng'] = df['lng'].astype(np.float32)

In [47]:
df['titulo'].value_counts()

casa en venta                                                                        468
departamento en venta                                                                289
casa en venta en chihuahua                                                           268
casa en venta en querétaro                                                           238
departamento en venta en benito juárez                                               221
departamento en venta en miguel hidalgo                                              177
casa en venta en mérida                                                              167
casa en venta                                                                        132
casa en venta en torreón                                                             119
casa en venta en mérida, yucatán                                                     115
casa en venta en monterrey                                                           115
casa en venta en puebla                                                              112
casa en venta en juárez                                                              111
casa en venta en tepic                                                               107
casa en venta en juriquilla                                                          106
casa en venta en san andrés cholula                                                  105
casa en venta en tijuana                                                             104
venta de casa en aguascalientes                                                       98
terreno en venta                                                                      97
departamento                                                                          89
casa en condominio en venta en querétaro                                              86
venta de departamento en benito juárez                                                84
departamento en venta en cuauhtémoc                                                   84
venta de casa en naucalpan                                                            84
casa en venta en corregidora                                                          83
casa en venta, monterrey, nuevo león                                                  80
casa en venta en zapopan                                                              80
departamento en venta en interlomas                                                   80
venta de casa en cuautitlan izcalli                                                   79
venta de casa en tlalnepantla                                                         78
                                                                                    ...
casa en fracc san fernanda,  por carretera a mazatlán, moderna, nueva...               1
departamentos de lujo en venta por del centro, la corregidora cerrada                  1
casa en zapopan 3 recamars santa margarita residen                                     1
departamento en venta en fovissste (josé maría morelos y pavón)                        1
quinta las elviras                                                                     1
casa en esquina fracc. floresta                                                        1
casa en venta en san juan totoltepec, naucalpan                                        1
casa en venta en el refugio. casa de ensueño hermosísima. recamara primer planta       1
casa en residencial los laureles                                                       1
ultima casa!                                                                           1
cad residencia calle cerrada fraccionamiento paseos del ajusco, del. tlalpan           1
casa colonial en exclusivo lugar de chimalistac                                        1
casa en venta en rinconada vallarta, rincón de los limones #72                         1
preventa valle imperial, construimos la casa de tus sueños                             1
casa de 3 recamaras con vestidor y baño cada una en cumbres del cimatario              1
casa con comercio muy acreditado                                                       1
edificio comercial de 3 pisos. ubicado en cimatario (televisa)                         1
bonito departamento listo para ocupar                                                  1
terreno independencia                                                                  1
estrene casa nueva san andres totoltepec                                               1
nueva en  en cumbres , aprovecha, 3 recamaras!                                         1
gran oportunidad de inversión! ,casa en alberto j. pani, cd. satélite, naucalpan       1
depto de recuperación, vasco de quiroga, santa fe !!!                                  1
 departamentos nuevos  en venta en san manuel                                          1
hermoso departamento exterior con 2 habitaciones                                       1
sendero de las moras, terreno en venta, tlajomulco                                     1
casa en venta residencia jardines de versalles,                                        1
bonita casa en venta fraccto puerta del sol xalisco nayarit                            1
remate hipotecario, hacienda el roble, san nicolas de los garza(ac-3430)               1
hermosa casa en club privado haciendas de ticuman                                      1
Name: titulo, Length: 186191, dtype: int64

In [63]:
#Elimino los NaN
df.loc[(df['titulo']).isnull(), ['titulo']] = ''
df['titulo'] = df['titulo'].astype(str)

In [64]:
df['banos'].value_counts()

2.0    87683
1.0    58173
3.0    49365
4.0    18558
Name: banos, dtype: int64

In [66]:
#Lo paso a tipo category porque tenemos 4 valores distintos 
df.loc[(df['banos']).isnull(), ['banos']] = 0
df['banos'] = df['banos'].astype('category')

In [68]:
df['garages'].value_counts()

2.0    94167
1.0    59464
0.0    26926
3.0    21678
Name: garages, dtype: int64

In [69]:
#Lo paso a tipo category porque tenemos 4 valores distintos 
df.loc[(df['garages']).isnull(), ['garages']] = 0
df['garages'] = df['garages'].astype('category')

In [70]:
df['direccion'].value_counts()

-                                                               660
.                                                               476
1                                                               212
Calle                                                           194
Norte de Mérida                                                 136
x #x                                                            122
0                                                               113
domicilio conocido                                              105
Calle 18 No.344 x 11 y 13 Col. Camara de Comercio Norte          94
calle                                                            94
Juriquilla                                                       84
El Refugio                                                       78
x                                                                77
Metepec                                                          77
CENTRO                                                           75
JURIQUILLA                                                       74
...                                                              70
Sin nombre                                                       70
EL REFUGIO                                                       68
Bosque Real                                                      68
Chihuahua, CHIH, México                                          67
CALLE                                                            66
S/N                                                              65
Cumbres del Lago                                                 64
Norte                                                            64
--                                                               64
S/D                                                              62
Centro                                                           62
cancun                                                           58
Hidalgo                                                          55
                                                               ...
Avenida federalistas 909 casa14 Real del Bosque                   1
Col Bosque Real                                                   1
LOMA LINDA QRO-005                                                1
Pico de Verapaz 507                                               1
JARDIN DE LAS FLORES 251 -252                                     1
RIO CANDELARIA 161                                                1
Privada Badajo 5a. sección                                        1
Salvador Diaz Miron esquina Circuito Interior                     1
Ignacio Ramirez 1163                                              1
palma y tamaulipas                                                1
Infonavit norte                                                   1
FG69                                                              1
Av. Juan Palomar y Arias 930, Jardines Universidad, zapopan,      1
Jose Manuel Othon 48                                              1
Paseo de la Asunción No.101 La Joya Metepec Estado de México      1
16a. Av. Norte Poniente 898                                       1
COLONIA FUERTE DE LORETO                                          1
DEBH0921                                                          1
calle 21 # 117-C entre 24 y 24-A itzimná                          1
CALLE TOLSA                                                       1
Playa Encantada 28                                                1
Norte 32 145                                                      1
Calle Torrecillas #203                                            1
av. radial aquiles serdan #297 ed. B  dpt. #304                   1
Av. Río Nilo #3360                                                1
Sm 44 calle Eclipse mz 15 Cancun Q.Roo                            1
Las Torres 10                                                     1
Calle: Pima Bajo   Col: Carlos Zapata Vela  Del: Iztacalco        1
SANTA LUCIA 255                                                   1
SANTA ROSA INTERIOR 27                                            1
Name: direccion, Length: 140269, dtype: int64

In [72]:
df.loc[(df['direccion']).isnull(), ['direccion']] = 'S/D'
df.loc[(df['direccion']) == 'S/N', ['direccion']] = 'S/D'
df.loc[(df['direccion']) == 'Sin nombre', ['direccion']] = 'S/D'
df.loc[(df['direccion']) == 0, ['direccion']] = 'S/D'
df.loc[(df['direccion']) == '--', ['direccion']] = 'S/D'
df.loc[(df['direccion']) == '...', ['direccion']] = 'S/D'
df.loc[(df['direccion']) == '-', ['direccion']] = 'S/D'
df.loc[(df['direccion']) == '.', ['direccion']] = 'S/D'
df.loc[(df['direccion']) == 'x #x', ['direccion']] = 'S/D'
df.loc[(df['direcion']) == '--', ['direccion']] = 'S/D'

In [73]:
df['direccion'].value_counts()

S/D                                                             54661
1                                                                 212
Calle                                                             194
Norte de Mérida                                                   136
0                                                                 113
domicilio conocido                                                105
calle                                                              94
Calle 18 No.344 x 11 y 13 Col. Camara de Comercio Norte            94
Juriquilla                                                         84
El Refugio                                                         78
Metepec                                                            77
x                                                                  77
CENTRO                                                             75
JURIQUILLA                                                         74
Bosque Real                                                        68
EL REFUGIO                                                         68
Chihuahua, CHIH, México                                            67
CALLE                                                              66
Norte                                                              64
Cumbres del Lago                                                   64
Centro                                                             62
cancun                                                             58
Emiliano Zapata                                                    55
Hidalgo                                                            55
X                                                                  54
Santa Fe                                                           53
Cuauhtemoc                                                         52
San Andrés Cholula                                                 51
Monterrey                                                          50
Independencia                                                      46
                                                                ...
Paseo de la Asunción No.101 La Joya Metepec Estado de México        1
LOMA LINDA QRO-005                                                  1
Pico de Verapaz 507                                                 1
JARDIN DE LAS FLORES 251 -252                                       1
RIO CANDELARIA 161                                                  1
Privada Badajo 5a. sección                                          1
Salvador Diaz Miron esquina Circuito Interior                       1
Ignacio Ramirez 1163                                                1
palma y tamaulipas                                                  1
Infonavit norte                                                     1
FG69                                                                1
Av. Juan Palomar y Arias 930, Jardines Universidad, zapopan,        1
Jose Manuel Othon 48                                                1
Avenida federalistas 909 casa14 Real del Bosque                     1
COLONIA FUERTE DE LORETO                                            1
Veracruz 204                                                        1
DEBH0921                                                            1
calle 21 # 117-C entre 24 y 24-A itzimná                            1
CALLE TOLSA                                                         1
Playa Encantada 28                                                  1
Norte 32 145                                                        1
Calle Torrecillas #203                                              1
av. radial aquiles serdan #297 ed. B  dpt. #304                     1
Av. Río Nilo #3360                                                  1
Sm 44 calle Eclipse mz 15 Cancun Q.Roo                              1
Las Torres 10                                                       1
Calle: Pima Bajo   Col: Carlos Zapata Vela  Del: Iztacalco          1
SANTA LUCIA 255                                                     1
16a. Av. Norte Poniente 898                                         1
SANTA ROSA INTERIOR 27                                              1
Name: direccion, Length: 140262, dtype: int64